<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="注册">
        <classes>
            <class name="com.lemon17.cases.RegisterCase"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="登录">
        <classes>
            <class name="com.lemon17.cases.LoginCase"></class>
        </classes>
    </test>
</suite>